extends ./adminTemplate.jade

block vars

  - var title = 'Dashboard'
  
block nav
  a.nav-item.nav-link(href='/adminDashboard') Admin Dashboard
  a.nav-item.nav-link(href='/Register') Register Contractor
  a.nav-item.nav-link(href='/createProject') Create Project


block content

  
    .container-fluid
      // Main component for a primary marketing message or call to action
      
      h1 All Projects
      table(class="table table-hover table-striped")
        thead.thead-default.thead
          tr
            th Name
            th Number
            th Address
            th.hidden-xs-down Project Manager 
            th.hidden-sm-down Email 
            th.hidden-xs-down Phone
            th.hidden-md-down Project Superintendent
            th.hidden-md-down.hidden-lg-down Email 
            th.hidden-md-down Phone
        tbody
          for project in projects
            tr(scope="row")
              td 
                a(href="/adminProjects/#{project.projectInfo.number}") #{project.projectInfo.name}  
              td #{project.projectInfo.number}
              td #{project.projectInfo.address}
              td.hidden-xs-down #{project.projectTeam.projectManager.name}
              td.hidden-sm-down #{project.projectTeam.projectManager.email}
              td.hidden-xs-down #{project.projectTeam.projectManager.phone}
              td.hidden-md-down #{project.projectTeam.projectSuperindendent.name}
              td.hidden-md-down.hidden-lg-down #{project.projectTeam.projectSuperindendent.email}
              td.hidden-md-down #{project.projectTeam.projectSuperindendent.phone}

// jQuery first, then Bootstrap JS.
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
