extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      // Main component for a primary marketing message or call to action
      
  
      h1.m-t-3 Upload Punchlist Item

      if status
        p Status: #{status}
      form(method="post" enctype="multipart/form-data")
        feildset.formgroup
          label.m-t-2(for="projectNumber") Project:
          select.form-control(name='projectNumber')
            for project in allProjects
              option(value=project.projectInfo.number) #{project.projectInfo.number} - #{project.projectInfo.name}
        feildset.formgroup
          label(for="itemNumber") Number:  
          input.form-control(type="text", name="itemNumber", required=true)
        feildset.formgroup
          label(for="punchDescription") Description:  
          input.form-control(type="text", name="punchDescription", required=true)
        feildset.formgroup
          label(for="creationDate") Creation Date:
          input.form-control(type="text", name="creationDate", required=true)
        feildset.formgroup
          label(for="responsibleContractor") Responsible Contractor:
          input.form-control(type="text", name="responsibleContractor", required=true)
      
        feildset.formgroup
          label(for="dueDate") Due Date:  
          input.form-control(type="text", name="dueDate", required=true)
        feildset.formgroup
          label(for="punchStatus") Punch Status:
          input.form-control(type="text", name="punchStatus", required=true)
        fieldset.formgroup
          label(for="submittals") File Upload
          input.form-control-file(type="file" name="punchlistUpload")
          small.text-muted Upload Submittal Documents Here
          br
        
        
        
        button.btn.btn-primary.m-t-2(type="submit") Submit
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
