extends ./adminTemplate.jade

block vars

  - var title = 'Create Project'

block content
    .container
    
        h1.m-t-3 Create a Project

        if error
          p ERROR: #{error}

        form.col-md-6(method="post")
          feildset.formgroup
            label.m-t-2(for="projectName") Project Name:
            input.form-control(type="text", name="projectName", required=true)
            
          feildset.formgroup
            label(for="projectNumber") Project Number:
            input.form-control(type="text", name="projectNumber", required=true)
          feildset.formgroup
            label(for="projectAddress") Project Adrees:
            input.form-control(type="text", name="projectAddress", required=true)
          feildset.formgroup
            label(for="projectCity") City:
            input.form-control(type="text", name="projectCity", required=true)
          feildset.formgroup
            label(for="projectState") State:
            input.form-control(type="text", name="projectState", required=true)
          feildset.formgroup
            label(for="projectZip") Zip:
            input.form-control(type="text", name="projectZip", required=true)
          feildset.formgroup
            label(for="projectManager") Project Manager:
            input.form-control(type="text", name="projectManager", required=true)
          feildset.formgroup
            label(for="managerEmail") Email:
            input.form-control(type="text", name="managerEmail", required=true)
          feildset.formgroup
            label(for="managerPhone") Phone:
            input.form-control(type="text", name="managerPhone", required=true)
          feildset.formgroup
            label(for="projectSuper") Project Superindendent:
            input.form-control(type="text", name="projectSuper", required=true)
          feildset.formgroup
            label(for="superEmail") Email:
            input.form-control(type="text", name="superEmail", required=true)
          feildset.formgroup
            label(for="superPhone") Phone:
            input.form-control(type="text", name="superPhone", required=true)
          feildset.formgroup
            label(for="subcontractor") Subcontractors:
            select.form-control(name='subcontractor', multiple='')
              for user in users
                option(value=user.email) #{user.email} (#{user.company})
                  
        
          

          button.btn.btn-primary.m-t-1(type="submit") Submit
  // /container
  //
    Bootstrap core JavaScript
    ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script.
    window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
  script(src='/js/bootstrap.min.js')
  // IE10 viewport hack for Surface/desktop Windows 8 bug
  script(src='/js/ie10-viewport-bug-workaround.js')
