extends ./maintemplate.jade

block vars

  - var title = 'Dashboard'

block nav
  ul.nav.navbar-nav.navbar-right
      li
        a(href='/logout') Log Out
block content

  
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Dashboard
        table(style='width:100%' border='1')
          tr
            th Project Name
            th Project Number
            th address
            th city
            th state
            th zip
            th Project Manager 
            th Email 
            th Phone
            th Project Superintendent
            th Email 
            th Phone
          for project in projects
            tr
              td 
                a(href='/projectDash/'+project.projectInfo.number) #{project.projectInfo.name}
              td #{project.projectInfo.number}
              td #{project.projectInfo.address}
              td #{project.projectInfo.city}
              td #{project.projectInfo.state}
              td #{project.projectInfo.zip}
              td #{project.projectTeam.projectManager.name}
              td #{project.projectTeam.projectManager.email}
              td #{project.projectTeam.projectManager.phone}
              td #{project.projectTeam.projectSuperindendent.name}
              td #{project.projectTeam.projectSuperindendent.email}
              td #{project.projectTeam.projectSuperindendent.phone}

    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
