extends ./projectNavigation.jade

block vars
  - var title = 'Project Dashboard'

block content

  
  
  .container-fluid
    h1 #{project.projectInfo.name}
    table.table.table-hover.table-striped
      thead.thead-default
        tr
          th Project Name
          th Project Number
          th Address
          th Project Manager 
          th Email 
          th Phone
          th Project Superintendent
          th Email 
          th Phone
      tbody
        tr(scope="row")
          td 
            a(href='/projectDash/'+project.projectInfo.number) #{project.projectInfo.name}
          td #{project.projectInfo.number}
          td 18041 Daryl Ln SW Rochester, WA 98579
          td #{project.projectTeam.projectManager.name}
          td #{project.projectTeam.projectManager.email}
          td #{project.projectTeam.projectManager.phone}
          td #{project.projectTeam.projectSuperindendent.name}
          td #{project.projectTeam.projectSuperindendent.email}
          td #{project.projectTeam.projectSuperindendent.phone}
          
    // /container
    //
    // jQuery first, then Bootstrap JS.
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
