extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      if status
        p STATUS: #{status}
      h1.m-t-3 Create an Account
      form.col-md-6(method="post")
        
        feildset.formgroup
          label.m-t-2(for="firstName") First Name:
          input.form-control(type="text", name="firstName", required=true)
        feildset.formgroup
          label(for="lastName") Last Name:
          input.form-control(type="text", name="lastName", required=true)
        feildset.formgroup
          label(for="email") Email:
          input.form-control(type="email", name="email", required=true)
        feildset.formgroup
          label(for="company") Company:
          input.form-control(type="text", name="company", required=true)
        feildset.formgroup
          label(for="admin") Admin:
          input.form-control(type="text", name="admin", required=true)
          small.text-muted Please enter "Yes" or "No"
          br
        feildset.formgroup
          label(for="company") Company:
          input.form-control(type="tect", name="company", required=true)
        button.btn.btn-primary.m-t-1(type='submit') Submit
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
