extends ./template.jade

block vars
  - var title = 'Project Dashboard'

block content

  
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 RFIs
        table(style='width:100%' border='1')
          tr
            th RFI Number
            th Subject
            th Responsible Contractor
            th Assignee
            th Date Initiated
            th Date Response Due
            th Ball in Court
            th Schedule Impact
            th Cost Impact
          for rfi in rfis
            tr  
              td #{rfi.rfiName}
              td #{rfi.rfiSubject}
              td #{rfi.resonsibleContractor}
              td #{rfi.Assignee}
              td #{rfi.dateInitialized}
              td #{rfi.dueDate}
              td #{rfi.ballInCourt}
              td #{rfi.scheduleImpact}
              td #{rfi.costImpact}
              
        

    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
