extends ./template.jade

block vars
  - var title = 'Project Dashboard'

block content

  
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Submittals
        table(style='width:100%' border='1')
          tr
            th Submittal Number
            th Subject
            th Specification
            th Responsible Contractor
            th Submittal Status
            th Reviewer
            th Review Date
            th Review Code
          for submittal in submittals
            tr  
              td #{submittal.submittalNumber}
              td #{submittal.submittalSubject}
              td #{submittal.submittalSpecification}
              td #{submittal.responsibleContractor}
              td #{submittal.submittalStatus}
              td #{submittal.reviewer}
              td #{submittal.reviewDate}
              td #{submittal.reviewCode}
            
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
