extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Upload RFI

        if error
          p ERROR: #{error}
        form(method="post")
        
          
          Span Project Name:
          select(name='projectName')
            for project in allProjects
              option(value=project.projectInfo.name) #{project.projectInfo.name}
          br
          span RFI Name: 
          input(type="text", name="rfiName", required=true)
          br

          span RFI Subject: 
          input(type="text", name="rfiSubject", required=true)
          br

          span Responsible Contractor: 
          input(type="text", name="responsibleContractor", required=true)
          br

          span Assignee:
          input(type="text", name="assignee", required=true)
          br

          span Date Initiated 
          input(type="text", name="dateInitiated", required=true)
          br
          
          span Due Date: 
          input(type="text", name="dueDate", required=true)
          br
          
          span Ball in Court: 
          input(type="text", name="ballInCourt", required=true)
          br
           
          span Schedule Impact: 
          input(type="text", name="scheduleImpact", required=true)
          br
          
          span Cost Impact: 
          input(type="text", name="costImpact", required=true)
          br    

          input(type="submit")
          
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
