extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
  
          h1 Upload Punchlist Item

          if status
            p Status: #{status}
          form(method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            
            Span Project Name:
            select(name='projectName')
              for project in allProjects
                option(value=project.projectInfo.name) #{project.projectInfo.name}
                br
            br    
            span Item Number: 
            input(type="text", name="itemNumber", required=true)
            br

            span Description: 
            input(type="text", name="punchDescription", required=true)
            br

            span Creation Date: 
            input(type="text", name="creationDate", required=true)
            br

            span Responsible Contractor:
            input(type="text", name="responsibleContractor", required=true)
            br

            span Due Date: 
            input(type="text", name="dueDate", required=true)
            br
            
            span Status: 
            input(type="text", name="punchStatus", required=true)
            br
            
            
            input(type="submit")
