extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      // Main component for a primary marketing message or call to action
      h1.m-t-3 Upload RFI

      if error
        p ERROR: #{error}
      form(method="post")
      
        feildset.formgroup
          label.m-t-2(for="projectName") Project:
          select.form-control(name='projectName')
            for project in allProjects
              option(value=project.projectInfo.name) #{project.projectInfo.name}
        feildset.formgroup
          label(for="rfiName") Name:
          input.form-control(type="text", name="rfiName", required=true)
        feildset.formgroup
          label(for="rfiSubject") Subject:
          input.form-control(type="text", name="rfiSubject", required=true)
  
        feildset.formgroup
          label(for="responsibleContractor") Responsible Contractor: 
          input.form-control(type="text", name="responsibleContractor", required=true)
        feildset.formgroup
          label(for="assignee") Assignee:
          input.form-control(type="text", name="assignee", required=true)
        feildset.formgroup
          label(for="dateInitiated") Date Initiated:      
          input.form-control(type="text", name="dateInitiated", required=true)
        feildset.formgroup
          label(for="dueDate") Due Date:
          input.form-control(type="text", name="dueDate", required=true)
        feildset.formgroup
          label(for="ballInCourt") Ball in Court:
          input.form-control(type="text", name="ballInCourt", required=true)
        feildset.formgroup
          label(for="scheduleImpact") Schedule Impact:
          input.form-control(type="text", name="scheduleImpact", required=true)
        feildset.formgroup
          label(for="costImpact") Cost Impact:
          input.form-control(type="text", name="costImpact", required=true)
            

        input(type="submit")
          
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
