extends ./adminTemplate.jade

block vars

  - var title = 'Admin Dashboard'


block content
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Upload Submittal

        if error
          p ERROR: #{error}
        form(method="post")
        
          
          Span Project Name:
          select(name='projectName')
            for project in allProjects
              option(value=project.projectInfo.name) #{project.projectInfo.name}
              br
          span Submittal Number:
          input(type="text", name="submittalNumber", required=true)
          br

          span Submittal Subject:
          input(type="text", name="submittalSubject", required=true)
          br

          span Specification Section: 
          input(type="text", name="submittalSpecification", required=true)
          br

          span Responsible Contractor:
          input(type="text", name="responsibleContractor", required=true)
          br

          span  Status:
          input(type="text", name="submittalStatus", required=true)
          br
          
          span Reviewer: 
          input(type="text", name="reviewer", required=true)
          br
          
          span Review Date: 
          input(type="text", name="reviewDate", required=true)
          br
           
          span Review Code: 
          input(type="text", name="reviewCode", required=true)
          br
          

          input(type="submit")
