extends ./projectNavigation.jade

block vars
  - var title = 'Project Dashboard'

block content

  
    .container-fluid
      // Main component for a primary marketing message or call to action
      h1 Punchlist
      table.table.table-hover.table-striped
        thead.thead.thead-default
          tr
            th Item Number
            th Description
            th Responsible Contractor
            th Creation Date
            th Due Date
            th Status
            th Download
        tbody
          for punchlist in punchlists
            tr(scope="row")
              td #{punchlist.itemNumber}
              td #{punchlist.punchDescription}
              td #{punchlist.responsibleContractor}
              td #{punchlist.creationDate}
              td #{punchlist.dueDate}
              td #{punchlist.punchStatus}
              for files in punchlist.punchlistFile
                td
                  a(href="../uploads/#{reqID}/punchlists/#{files.filename}") Download
  // /container
  // jQuery first, then Bootstrap JS.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
